<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengye.share">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.READ_PROFILE" />-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 悬浮框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Tencent Bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Tencent Bugly -->

    <!-- 高德定位 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 高德定位 -->


    <application
        android:name=".module.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ShareAppTheme">

        <!-- 高德定位 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ac99da1a3c6bc92c7be1efeebdd764ea" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <activity android:name=".module.test.TestLocationActivity"
            android:label="定位测试"/>
        <!-- 高德定位 -->

        <service android:name="com.hengye.share.service.ShareService" />
        <service android:name="com.hengye.share.service.StatusPublishService" />
        <service android:name="com.hengye.share.service.VideoPlayService" />

        <!-- 定时发布广播 -->
        <receiver android:name="com.hengye.share.service.PublishTimingStatusBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hengye.share.ACTION_TIMING_PUBLISH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.other.GuidanceActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/GuidanceTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- use an alias in case we want to change the launch activity later without breaking
             homescreen shortcuts.  Note must be defined after the targetActivity -->
        <activity-alias
            android:name="com.hengye.share.Launcher"
            android:label="@string/app_name"
            android:targetActivity=".module.other.GuidanceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".module.status.StatusActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Main" />

        <activity
            android:name=".module.sso.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".module.status.StatusActivity"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.status.StatusActivity" />
        </activity>

        <activity
            android:name=".module.sso.ThirdPartyLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullScreenTheme.HasStatusBar" />

        <activity
            android:name=".module.sso.WeiboWebAuthorizeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.sso.WeiboWebLoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_wb_web_login"/>

        <activity
            android:name=".module.util.image.GalleryActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name=".module.util.FragmentActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.setting.SettingActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_setting">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.profile.PersonalHomepageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.mention" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.status.StatusTopicActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_status_topic">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.topic" />
            </intent-filter>
        </activity>

        <!--<activity-->
        <!--android:name=".module.util.WebViewActivity"-->
        <!--android:configChanges="screenSize|keyboardHidden|orientation"-->
        <!--android:label="@string/title_activity_web_view">-->
        <!--<intent-filter>-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<data android:scheme="${applicationId}.http" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".module.util.WebViewActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_web_view" />

        <activity
            android:name=".module.util.X5WebViewActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_web_view">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.publish.StatusPublishActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.draft.StatusDraftActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_status_draft" />

        <activity
            android:name=".module.statusdetail.StatusDetail2Activity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.statusdetail.StatusDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_status_body" />

        <activity
            android:name=".module.status.StatusMentionActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.statuscomment.CommentActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name=".module.status.StatusFavoriteActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_favorite" />

        <activity
            android:name=".module.publish.AtUserActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_at_user"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".module.search.SearchActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />

        <activity
            android:name="com.hengye.share.module.groupmanage.GroupManageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_group_manage" />

        <activity
            android:name=".module.accountmanage.AccountManageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_account_manage" />

        <activity
            android:name="com.hengye.share.module.hottopic.HotTopicAndStatusActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_hot_topic_and_status" />

        <activity android:name=".module.test.TestActivity" />

        <activity android:name=".module.test.SetTokenActivity" />
    </application>

</manifest>
